body{
    background-color: #698269;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    color: #F1DBBF;
    text-align: center;
    flex-basis: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    background-color: #964d4d;
    color: #F1DBBF;
    filter: drop-shadow(10px 10px 10px black);
    font-size: large;
    font-weight: bold;
    border-radius: 15%;
    border: none;
    margin-top: 5%;
    height: 8%;
    width: 15%;
    cursor: pointer;
}

#taksOne{
    flex-basis: 100%;
    border-radius: 5%;
    filter: drop-shadow(10px 10px 10px black);
}

ul {
    display: flex;
    flex-basis: 80%;
    justify-content: space-between;
    list-style: none;
}

ul button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    flex-basis: 100%;
    /* width: 0vh; */
    height: 40vh;
}

li {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
}

.text_box {
    
    border: solid 4px #964d4d;
    border-radius: 7%;
}
.text {
    /* margin: 20px; */
    font-family: 'Times New Roman', Times, serif;
    color: #F1DBBF ;
}

p {
    width: 35vh;
}